# environment

APP_ENV=dev

LOG_LEVEL=INFO

LOG_DIR=logs

LOG_FILE_NAME=app.log

METRICS_ENABLED=true


# Server

HOST=0.0.0.0

PORT=8000


# API Security

# API_KEY= 지금은 안 씁니다


# LLM

OPENAI_API_KEY=

GEMINI_API_KEY=

OLLAMA_API_KEY=


# CALLBACK_URL=

# EXERCISE_API_URL=

# EXERCISES_PATH=